:root {
  --font: 'Roboto', sans-serif;
  --white: #ffffff;
  --black: #363237;
  --dark-brown: #73605B; 
}

body {
  margin: 0;
  padding: 0.5rem 0 0 0;
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font);

}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Tabs */

#tabs {
  z-index: 99;
  position: sticky;
  top: 0;
  background-color: var(--white);
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: space-evenly;
  align-content: center;
}

.tab {
  color: var(--dark-brown);
  padding: 1rem 2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  cursor: pointer;
}

.active-tab {
  color: var(--black);
  font-weight: 550; 
  border-bottom: 1px var(--black) solid;
}

/* Home Tab */

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px;
  max-width: 400px;
}

.home-content h1 {
  justify-self: flex-start;
  font-weight: 100;
  color: var(--black);
  font-size: 34px;
  line-height: 36px;
  margin: 1rem 0;
}


.home-content p {
  color: var(--dark-brown);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

/* Menu Tab */

#menuSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#menuSection h1 {
  justify-self: flex-start;
  font-weight: 100;
  color: var(--black);
  font-size: 34px;
  line-height: 36px;
  margin: 1rem 0;
}

.menu-content {
  position: relative;
  width: 340px;
  height: 200px;
  background-color: var(--dark-brown);
  margin: 1rem 0;
  border-radius: 15px;
}

.menu-content-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 100;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(54,50,55, 0.7);
  color: var(--white);
  border-radius: 0 0 15px 15px;
}

.menu-content-header h2 {
  justify-self: flex-start;
  font-weight: 200;
  color: var(--white);
  font-size: 18px;
  line-height: 36px;
  margin: 1rem 0;
  padding-left: 1rem;
}

#breakfast, #lunch, #dinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
}

@media only screen and (min-width: 600px) {
  .menu-content {
    margin: 1rem;
  }
  
}